<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultStartScreen" value="LifeQuest™ Pipeline"/>
    <add key="UseDefaultStartScreen" value="true"/>
    <!--These values need to match your Golem.app.config entries for the same values!!-->
    <add key="Purple_WindowTitle" value="LifeQuest™ Pipeline"/>
    <add key="Purple_BlankValue" value="!BLANK!"/>
    <add key="Purple_Delimiter" value="/"/>
    <add key="Purple_ValueDelimiterStart" value="{"/>
    <add key="Purple_ValueDelimiterEnd" value="}"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
